@{
    ViewBag.Title = "Home Page";
}

<section id="top">
    Nathan Salmon
    Visual and creative communicator
    <div class="skills">
        Graphic Design - Branding - Iconography<br />
        Illustration - Photography
    </div>
    <a href="#about" class="btn btn-block">About Me</a>
    <a href="#project-areas" class="btn btn-block"">Project Areas</a>
    <a href="#downloads" class="btn btn-block"">Downloads</a>
    <a href="#contact-me" class="btn btn-block"">Contact Me</a>
</section>
<section id="about-me" class="green">
    About me
    I’m Nathan, a visual and creative
    communicator located in Bristol and
    currently working as a freelance designer.
    Having graduated from Cardiff Metropolitan
    University in 2013 with a degree in BA (Hons) Graphic
    Communication, I have since continued to expand my
    knowledge, practice and experience at an industry-level
    in professional design.
    Whilst pursuing a career in graphic design, I’ve always
    been open to making new contacts. Please get in touch
    to talk about possible projects, or to see my latest CV and
    PDF portfolio with project examples click here.
    I love the job I do and take pride in the designs I create
    for every client I work for and each company I work with.
    My work currently flows within these five specialisms:
</section>
<section id="project-areas" class="black">Project areas</section>
<section class="blue">C O R P . F R E E L A N C E BTN</section>
<section class="pale-yellow">F R E E L A N C E B R A N D S BTN</section>
<section class="dark-grey">H A N O V E R BTN</section>
<section class="pale-grey">E X T R A E X P E R I E N C E BTN</section>
<section class="green">P H O T O G R A P H Y BTN</section>
<section class="gold">U N I V E R S I T Y BTN</section>
<section class="pale-yellow">Downloads</section>
<section class="blue">Contact me</section>
<section>Form stuff</section>